<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        div{
            border:solid 1px red;
        }
        #content_box{
            margin : 0 auto;
            width:1000px;
            height:1000px;
        }
    </style>
</head>
<body>
    <div id = "content_box">
        <form action="/b_update/<%= num %>" method="post">
            <div><h1>BOARD UPDATEFORM</h1></div>
            <div><strong>제목:</strong><input type = "text" value = "<%= title %>" name= "title"></div>
            <div><strong>작성자:<%= id %></strong><input type = "hidden" value = "<%= id %>" name= "id"></div>
            <div><strong>내용:</strong><textarea name = "content" style = "width : 980px; height : 500px;"> <%= content %> </textarea></div>

            <button type="submit" style = "float : right">확인</button>
        </form>
        

    </div>
</body>
</html>